/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Avenir Next, Avenir, Tahoma, sans-serif;
  color: #333;
}

.appWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.appWrapper.m--horizontal {
  padding: 0px;
}

.contentWrapper {
  margin: 0 auto;
  padding: 0 20px;
}
.contentWrapper.m--horizontal {
  padding: 0px;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  overflow-x: auto;
  justify-content: flex-start;
}
@media (min-width: 1441px) {
  .contentWrapper:not(.m--horizontal) {
    max-width: 1200px;
  }
}
@media (max-width: 1440px) {
  .contentWrapper:not(.m--horizontal) {
    max-width: 900px;
  }
}
@media (max-width: 960px) {
  .contentWrapper:not(.m--horizontal) {
    max-width: 600px;
  }
}
@media (max-width: 480px) {
  .contentWrapper:not(.m--horizontal) {
    max-width: 100%;
  }
}

.l-header {
  flex: 0 0 auto;
  background-color: #57cdbd;
}
.l-header .headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.l-header .headerWrapper .appTitle {
  font-weight: 900;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 2px 2px 0px #57cdbd, 3px 3px 7px #31a696;
}
.l-header .headerWrapper .actionsWrapper {
  display: flex;
  align-items: center;
}
.l-header .headerWrapper .actionsWrapper .action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-right: 15px;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  background-color: #31a696;
}
.l-header .headerWrapper .actionsWrapper .action:last-child {
  margin: 0;
}
.l-header .headerWrapper .actionsWrapper .action.m--actionToggleLayout {
  width: auto;
  padding: 0 10px;
}

.l-footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding: 30px 0;
  z-index: 5;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.l-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  color: #57cdbd;
  font-size: 6rem;
  font-weight: bold;
}

.l-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.l-form {
  padding: 20px 0;
  background-color: #57cdbd;
}

.l-categories {
  flex: 1 1 auto;
  background-color: #f0f0f0;
  position: relative;
}
.l-categories.m--horizontal {
  flex: 1 1 auto;
  display: flex;
}
.l-categories.m--horizontal .categoriesWrapper {
  flex-direction: row;
}
.l-categories .categoriesWrapper {
  display: flex;
  padding: 0px;
  max-width: 100%;
  overflow-x: auto;
  flex-direction: column;
}
@media (max-width: 480px) {
  .l-categories .categoriesWrapper {
    scroll-snap-type: x mandatory;
  }
}

.m-form {
  display: flex;
  flex-direction: column;
}
.m-form .formTitle {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 500;
}
.m-form .formInputWrapper {
  margin-bottom: 10px;
}
.m-form .formInputWrapper .formInput {
  margin-top: 5px;
  padding: 5px;
  font-size: 0.9rem;
}
.m-form .addSticketButton {
  font-size: 0.9rem;
  padding: 5px;
}

.m-add {
  position: relative;
}
.m-add .addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #FFF;
  font-weight: 900;
  background-color: #31a696;
}
.m-add .addForm {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  top: calc(100% + 10px);
  right: 0;
  padding: 15px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
}
.m-add .addForm:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
}

.m-search.m--onHeader {
  margin-right: 10px;
}
@media (max-width: 480px) {
  .m-search.m--onHeader {
    display: none;
  }
}
.m-search .searchInput {
  height: 35px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 100;
}

.m-category {
  transition: background-color 0.3s ease-in-out;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
@media (max-width: 480px) {
  .m-category {
    min-width: 100%;
    padding: 20px 0 30px;
  }
}
.m-category:last-child {
  margin: 0px;
  border-bottom: 0;
}
.m-category.m--placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.m-category.m--placeholder.m--horizontal {
  padding: 30px;
}
.m-category.m--placeholder .addText {
  padding: 15px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.m-category.m--placeholder:hover .addText {
  background-color: #9effcd;
  color: #366f87;
}
.m-category.m--horizontal {
  min-width: 600px;
  border-bottom: 0;
  border-right: 1px solid #e0e0e0;
  padding: 30px 30px 60px;
  overflow-y: auto;
}
@media (max-width: 480px) {
  .m-category.m--horizontal {
    min-width: 100vw;
    padding: 20px 20px 30px;
    scroll-snap-align: center;
  }
}
.m-category.m--horizontal.m--placeholder {
  min-width: 300px;
}
.m-category.m--horizontal .sticketsWrapper .m-sticket {
  flex: 1 1 calc(50% - 15px);
}
.m-category.m--masonry .sticketsWrapper {
  display: block;
  margin: 0;
}
.m-category .categoryHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .m-category .categoryHeader {
    flex-direction: column;
  }
}
.m-category .categoryHeader .categoryName {
  padding-right: 15px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #366f87;
}
@media (max-width: 480px) {
  .m-category .categoryHeader .categoryName {
    padding: 0;
  }
}
.m-category .categoryHeader .categoryName .categoryCount {
  font-size: 1.6rem;
  color: #57cdbd;
}
.m-category .categoryHeader .categoryActions {
  display: flex;
  align-items: center;
  margin-top: 0.45rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 960px) {
  .m-category .categoryHeader .categoryActions {
    opacity: 1;
  }
}
.m-category .categoryHeader .categoryActions .action {
  margin-right: 15px;
}
.m-category .categoryHeader .categoryActions .action:last-child {
  margin: 0;
}
.m-category .categoryHeader .categoryActions .renameAction {
  font-weight: 300;
  cursor: pointer;
}
.m-category .categoryHeader .categoryActions .renameAction:hover {
  text-decoration: underline;
}
.m-category .categoryHeader .categoryActions .removeAction {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.m-category .categoryHeader .categoryActions .removeAction:hover {
  background-color: #555;
  color: #fff;
}
.m-category .sticketsWrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -7.5px;
}
.m-category .sticketsWrapper.m--masonry {
  margin: 0;
}
.m-category .sticketsWrapper .noResults {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.m-category:hover .categoryHeader .categoryActions {
  opacity: 1;
}
.m-category:hover .sticketsWrapper .m-sticket.m--placeholder {
  opacity: 1;
}

.m-sticket {
  flex: 1 1 calc(33.333% - 15px);
  max-width: calc(50% - 15px);
  margin: 0 7.5px 15px;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
  .m-sticket {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.m-sticket:hover, .m-sticket:focus-within {
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
}
.m-sticket:hover .sticketActions, .m-sticket:focus-within .sticketActions {
  opacity: 1;
}
.m-sticket.m--masonry {
  opacity: 0;
  margin: 0;
  flex-basis: 50%;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
}
.m-sticket.m--masonry:not(.m--placeholder) {
  transform: scale(1.1);
}
.m-sticket.m--masonry[data-macy-complete="1"]:not(.m--placeholder) {
  opacity: 1;
  transform: scale(1);
}
.m-sticket .titleWrapper {
  z-index: 1;
}
.m-sticket .titleWrapper .titleSizer {
  position: relative;
  white-space: pre-line;
  box-sizing: border-box;
  margin: 0 0 1.1rem;
  font-weight: bold;
  line-height: 1.7rem;
  color: #555;
  border: 0;
  font-size: 1.1rem;
}
.m-sticket .titleWrapper .titleSizer .sticketTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  resize: none;
  outline: none;
  font-family: Avenir Next, Avenir, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1.7rem;
  color: #555;
  border: 0;
  font-size: 1.1rem;
}
.m-sticket .descriptionWrapper {
  z-index: 1;
}
.m-sticket .descriptionWrapper .descriptionSizer {
  position: relative;
  white-space: pre-line;
  word-break: break-word;
  box-sizing: border-box;
  min-height: 1.7rem;
  line-height: 1.7rem;
  color: #666;
  border: 0;
  font-size: 1.1rem;
}
.m-sticket .descriptionWrapper .descriptionSizer .sticketDescription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  resize: none;
  outline: none;
  font-family: Avenir Next, Avenir, Tahoma, sans-serif;
  line-height: 1.7rem;
  white-space: pre-line;
  word-break: break-word;
  color: #666;
  border: 0;
  font-size: 1.1rem;
}
.m-sticket .sticketActions {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15px;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}
@media (max-width: 960px) {
  .m-sticket .sticketActions {
    opacity: 1;
  }
}
.m-sticket .sticketActions .action {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 5px 10px -3px #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}
.m-sticket .sticketActions .action:hover {
  background-color: #444;
  color: #fefefe;
}
.m-sticket.m--placeholder {
  position: relative;
  opacity: 0;
  background-color: transparent;
  border: 2px dashed #aaa;
  box-shadow: none;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
  padding: 0px;
}
@media (max-width: 960px) {
  .m-sticket.m--placeholder {
    opacity: 1;
  }
}
.m-sticket.m--placeholder:focus-within {
  opacity: 1;
  border-color: #5a5a5a;
}
.m-sticket.m--placeholder.m--hasData {
  opacity: 1;
}
.m-sticket.m--placeholder .sticketTitle,
.m-sticket.m--placeholder .sticketDescription {
  min-width: 100%;
  max-width: 100%;
  font-size: 1.1rem;
  line-height: 1.7rem;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  transition: background-color 0.3s ease-in-out;
}
.m-sticket.m--placeholder .sticketTitle:hover,
.m-sticket.m--placeholder .sticketDescription:hover {
  background-color: #fbfbfb;
}
.m-sticket.m--placeholder .sticketTitle:active, .m-sticket.m--placeholder .sticketTitle:focus,
.m-sticket.m--placeholder .sticketDescription:active,
.m-sticket.m--placeholder .sticketDescription:focus {
  background-color: #fff;
}
.m-sticket.m--placeholder .sticketTitle {
  flex: 0 0 auto;
  color: #555;
  padding: 15px;
  margin-bottom: 0;
  border-radius: 5px;
  font-family: Avenir Next, Avenir, Tahoma, sans-serif;
}
.m-sticket.m--placeholder .textAreaWrapper {
  min-height: 70px;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  padding: 15px;
  white-space: pre-line;
  word-break: break-word;
  line-height: 1.7rem;
  color: transparent;
}
.m-sticket.m--placeholder .textAreaWrapper .sticketDescription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-family: Avenir Next, Avenir, Tahoma, sans-serif;
  color: #666;
  resize: none;
}
.m-sticket.m--placeholder .sticketSubmit {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #366f87;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.m-sticket.m--placeholder .sticketSubmit:hover {
  background-color: #366f87;
  color: #9effcd;
}

.m-overlap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.m-overlap.m--noCategories {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m-overlap .overlapContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m-overlap .overlapContent .emoji {
  font-size: 4rem;
  margin-bottom: 15px;
}
.m-overlap .overlapContent .overlapTitle {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.m-overlap .overlapContent .overlapDescription {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 30px;
}
.m-overlap .overlapContent .overlapAction {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background-color: #366f87;
  color: #fafafa;
}

.m-madeWithLove .love {
  max-width: 1rem;
  display: inline-block;
  position: relative;
  top: 3px;
}
.m-madeWithLove .love .heart {
  width: 1rem;
  fill: #ff5353;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.m-madeWithLove .loveName {
  text-decoration: none;
  color: #57cdbd;
}

/*# sourceMappingURL=styles.css.map */
