<!DOCTYPE html>
<html>
	<head>
		<title>Simple stickets</title>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="initial-scale=1" />

		<link rel="stylesheet" href="css/styles.css" />
	</head>

	<body>
		<div
			id="app"
			class="appWrapper"
			:class="{'m--horizontal': store.state.horizontalLayout}"
		>
			<div class="l-loader" v-show="loading">S</div>

			<header class="l-header">
				<div class="contentWrapper">
					<div class="headerWrapper">
						<div class="appTitle">Stickets</div>

						<div class="m-search m--onHeader">
							<input
								type="text"
								class="searchInput"
								placeholder="Buscar..."
								v-model="store.state.searchField"
							/>
						</div>

						<div class="actionsWrapper">
							<div
								class="action m--actionToggleLayout"
								@click="toggleOrientation"
							>
								💅
							</div>

							<div class="m-add">
								<div
									class="addButton"
									v-on:click="isAdding = !isAdding; withShadow = !withShadow"
								>
									+
								</div>
								<div
									class="l-shadow"
									v-show="withShadow"
									v-on:click="isAdding = !isAdding; withShadow = !withShadow"
								></div>
								<div class="addForm" v-show="isAdding">
									<div class="m-form">
										<h2 class="formTitle">Crear sticket</h2>
										<label class="formInputWrapper">
											Título:
											<input
												type="text"
												class="formInput"
												v-model="form.title"
											/>
										</label>
										<label class="formInputWrapper">
											Descripción:
											<input
												type="text"
												class="formInput"
												v-model="form.description"
											/>
										</label>
										<label class="formInputWrapper">
											Categoría:
											<select
												v-model="form.categoryKey"
												class="formInput"
											>
												<option
													v-for="category in store.state.categories"
													:value="category.key"
												>
													{{ category.name }}
												</option>
											</select>
										</label>
										<button
											class="addSticketButton"
											@click="addSticket"
										>
											Agregar Sticket
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section
				class="l-categories"
				:class="{'m--horizontal': store.state.horizontalLayout}"
			>
				<div
					class="m-overlap m--noCategories"
					v-if="!store.state.categories.length"
				>
					<div class="contentWrapper">
						<div class="overlapContent">
							<div class="emoji">😅</div>
							<h3 class="overlapTitle">No hay categorías!</h3>
							<div class="overlapDescription">
								Sin categorías no haces nada en esta app,
								básicamente.
								<br />
								Vas a necesitar algunas.
							</div>
							<div class="overlapAction" @click="addCategory">
								Bueno, a ver...
							</div>
						</div>
					</div>
				</div>

				<div
					class="contentWrapper"
					:class="{'m--horizontal': store.state.horizontalLayout}"
				>
					<div class="categoriesWrapper">
						<div
							class="m-category"
							:class="{
						'js-masonry m--masonry': store.state.masonryLayout,
						'm--horizontal': store.state.horizontalLayout
					}"
							@drop.prevent="dropSticket"
							@dragover.prevent="allowDrop"
							@dragenter.prevent.stop="dragEnter"
							@dragleave.prevent.stop="dragLeave"
							v-for="category in store.state.categories"
							:data-key="category.key"
						>
							<div class="categoryHeader">
								<h1 class="categoryName">
									{{ category.name }}
									<!--
										<span class="categoryCount"
											>({{
												category.filteredStickets.length
													? category.filteredStickets
															.length +
													  '/' +
													  category.stickets.length
													: category.stickets.length
											}})</span
										>
									-->
								</h1>
								<div class="categoryActions">
									<div class="renameAction action" @click="renameCategory(category.key)">Renombrar</div>
									<div class="renameAction action"
										@click="clearCategoryStickets(category.key)"
										v-if="category.stickets.length > 0">
										Vaciar
									</div>
									<div class="removeAction action" @click="removeCategory(category.key)">✕</div>
								</div>
							</div>
							<div class="sticketsWrapper"
								:class="{'m--masonry': store.state.masonryLayout}"
							>
								<div
									class="m-sticket"
									draggable="true"
									v-on:dragstart="dragSticket"
									v-for="(sticket, index) in sticketsFiltered(category)"
									:data-key="sticket.key"
									:class="{'m--masonry': store.state.masonryLayout}"
								>
									<div class="sticketActions">
										<div class="action m--actionDelete" @click="deleteSticket(sticket.key, category.key)">✕</div>
									</div>
									<div class="titleWrapper">
										<pre class="titleSizer">{{ sticket.title }}<textarea class="sticketTitle" v-model="sticket.title" spellcheck="false"></textarea>
										</pre>
									</div>
									<div class="descriptionWrapper">
										<pre class="descriptionSizer">{{ sticket.description }}<textarea class="sticketDescription" v-model="sticket.description" spellcheck="false"></textarea>
										</pre>
									</div>
								</div>

								<!-- Placeholder for add new stickets -->
								<div
									class="m-sticket m--placeholder"
									:class="{ 's--hasData': formHasData, 'm--masonry': store.state.masonryLayout}"
									v-if="!store.state.searchField"
								>
									<input
										class="sticketTitle"
										placeholder="Agregar sticket"
										v-model="form.title"
										spellcheck="false"
									/>
									<div class="textAreaWrapper">{{ form.description }}
										<textarea
										class="sticketDescription"
										placeholder="Escribí algo útil..."
										v-model="form.description"
										spellcheck="false"></textarea>
									</div>
									<div
										class="sticketSubmit"
										@click="addSticket(category.key)"
										v-show="formHasData">Agregar</div>
								</div>

								<div
									class="noResults"
									v-if="!sticketsFiltered(category).length && store.state.searchField"
								>
									No hay stickets que contengan "{{
										store.state.searchField.toLowerCase()
									}}"
								</div>
							</div>
						</div>

						<div
							class="m-category m--placeholder"
							@click="addCategory"
							:class="{
							'm--horizontal': store.state.horizontalLayout
						}"
						>
							<div class="addText">Agregar una categoría</div>
						</div>
					</div>
				</div>
			</section>

			<footer class="l-footer">
				<div class="m-madeWithLove">
					Hecho con
					<span class="love">
						<svg class="heart" viewBox="0 0 32 29.6">
							<path
								d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"
							/>
						</svg>
					</span>
					por
					<a
						class="loveName"
						target="_blank"
						alt="AndreusCafe"
						href="https://twitter.com/andreuscafe"
					>
						@andreuscafe
					</a>
				</div>
			</footer>
		</div>

		<script src="js/vue.js"></script>
		<script src="js/macy.js"></script>
		<!-- <script src="js/vuex.js"></script> -->

		<script src="js/index.js"></script>

		<script>
			let useSW = false;
			if ('serviceWorker' in navigator && useSW) {
				navigator.serviceWorker.register('/sw.js').then(function() {
					console.log('Service Worker Registered');
				});
			}
		</script>
	</body>
</html>
