.l-categories {
	flex: 1 1 auto;
	background-color: #f0f0f0;
	position: relative;

	&.m--horizontal {
		flex: 1 1 auto;
		display: flex;

		.categoriesWrapper {
			flex-direction: row;
		}
	}

	.categoriesWrapper {
		display: flex;
		padding: 0px;
		max-width: 100%;
		overflow-x: auto;
		flex-direction: column;

		@include mobile {
			scroll-snap-type: x mandatory;
		}
	}
}
