.l-categories {
	background-color: #FCFCFC;
	padding: 60px 0px;

	&.m--horizontal {
		padding: 64px 0px 0px;
		flex: 1 1 auto;
		display: flex;
	}

	.m-category {
		padding: 30px 15px;
		border-bottom: 1px solid #eee;

		&:last-child {
			margin: 0px;
			border-bottom: 0;
		}
	}
}