.l-categories {
	flex: 1 0 auto;
	background-color: #f0f0f0;
	position: relative;
	padding-top: 64px;
	min-height: 0;

	&.m--horizontal {
		padding-top: 0;
		flex: 1 1 auto;
		display: flex;

		.categoriesWrapper {
			flex-direction: row;
		}
	}

	&:not(.m--horizontal) {
		.categoriesWrapper {
			overflow: visible;
		}

		.contentWrapper {
			@include mobile {
				padding: 0;
			}
		}
	}

	.categoriesWrapper {
		display: flex;
		padding: 0px;
		max-width: 100%;
		overflow-x: auto;
		flex-direction: column;

		@include mobile {
			scroll-snap-type: x mandatory;
		}
	}
}
