body {
	font-family: $primaryFont;
	color: #333;
}

.appWrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;

	&.m--horizontal {
		padding: 0px;
	}
}

.contentWrapper {
	margin: 0 auto;
	padding: 0 20px;

	&.m--horizontal {
		padding: 0px;
		display: flex;
		max-width: 100%;
		min-width: 100%;
		overflow-x: auto;
		justify-content: flex-start;
	}

	&:not(.m--horizontal) {
		@include desktop {
			max-width: 1200px;
		}

		@include laptop {
			max-width: 900px;
		}

		@include tablet {
			max-width: 600px;
		}

		@include mobile {
			max-width: 100%;
		}
	}
}
