// Devices widths
$laptop: 1440px;
$tablet: 960px;
$mobile: 480px;
$mobileSmall: 360px;

// Fonts
$primaryFont: Avenir Next, Avenir, Tahoma, sans-serif;

// Colors - verde aqua
$Palette1: #9effcd;
$Palette2: #77f2bf;
$Palette3: #57cdbd;
$Palette4: #366f87;

// Colors - calido
// $Palette1: #ff916d;
// $Palette2: #f27751;
// $Palette3: #cd563a;
// $Palette4: #873024;

// Colors - low orange
// $Palette1: #faa07f;
// $Palette2: #f5895e;
// $Palette3: #ed7743;
// $Palette4: #e46b2e;

$primaryColor: $Palette1;
$secondaryColor: $Palette3;