.m-category {
	transition: background-color 0.3s ease-in-out;
	padding: 30px 0;
	border-bottom: 1px solid #eee;

	@include mobile {
		min-width: 100%;
		padding: 20px 0 30px;
	}

	&:last-child {
		margin: 0px;
		border-bottom: 0;
	}

	&.m--placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&.m--horizontal {
			padding: 30px;
		}

		.addText {
			padding: 15px;
			border-radius: 5px;
			font-weight: 600;
			transition: background-color 0.3s ease-in-out,
				color 0.3s ease-in-out, padding 0.3s ease-in-out;
		}

		&:hover {
			.addText {
				background-color: $Palette1;
				color: $Palette4;
			}
		}
	}

	&.m--horizontal {
		min-width: 600px;
		border-bottom: 0;
		border-right: 1px solid #e0e0e0;
		padding: 30px 30px 60px;
		overflow-y: auto;

		@include mobile {
			min-width: 100vw;
			padding: 20px 20px 30px;
			scroll-snap-align: center;
		}

		&.m--placeholder {
			min-width: 300px;
		}

		.sticketsWrapper {
			.m-sticket {
				flex: 1 1 calc(50% - 15px);
			}
		}
	}

	&.m--masonry {
		.sticketsWrapper {
			display: block;
			margin: 0;
		}
	}

	.categoryHeader {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 30px;

		@include mobile {
			flex-direction: column;
		}

		.categoryName {
			padding-right: 15px;
			font-size: 1.8rem;
			line-height: 2.4rem;
			color: $Palette4;

			@include mobile {
				padding: 0;
			}

			.categoryCount {
				font-size: 1.6rem;
				color: $Palette3;
			}
		}

		.categoryActions {
			display: flex;
			align-items: center;
			margin-top: 0.45rem;

			opacity: 0;
			transition: opacity 0.3s ease-in-out;

			@include tablet {
				opacity: 1;
			}

			.action {
				margin-right: 15px;

				&:last-child {
					margin: 0;
				}
			}

			.renameAction {
				font-weight: 300;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}

			.removeAction {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				width: 30px;
				height: 30px;
				border-radius: 50%;
				transition: background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;

				&:hover {
					background-color: #555;
					color: #fff;
				}
			}
		}
	}

	.sticketsWrapper {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		margin: 0 -7.5px;

		&.m--masonry {
			margin: 0;
		}

		.noResults {
			width: 100% !important;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
		}
	}

	&:hover {
		.categoryHeader .categoryActions {
			opacity: 1;
		}

		.sticketsWrapper {
			.m-sticket.m--placeholder {
				opacity: 1;
			}
		}
	}
}
