.m-madeWithLove {
	.love {
		max-width: 1rem;
		display: inline-block;
		position: relative;
		top: 3px;

		.heart {
			width: 1rem;
			fill: #ff5353;
			animation: pulse 1s ease infinite;

			@keyframes pulse {
				0% { transform: scale(1); }
				50% { transform: scale(1.2); }
				100% { transform: scale(1); }
			}
		}
	}

	.loveName {
		text-decoration: none;
		color: $secondaryColor;
	}
}