.m-overlap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;

	&.m--noCategories {
		background-color:#fafafa;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.overlapContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.emoji {
			font-size: 4rem;
			margin-bottom: 15px;
		}

		.overlapTitle {
			font-weight: 500;
			font-size: 1.4rem;
			margin-bottom: 15px;
		}

		.overlapDescription {
			font-size: 1.2rem;
			line-height: 1.6rem;
			margin-bottom: 30px;
		}

		.overlapAction {
			cursor: pointer;
			padding: 15px;
			border-radius: 5px;
			background-color: $Palette4;
			color: #fafafa;
		}
	}
}