.m-search {
	&.m--onHeader {
		margin-right: 10px;

		@include mobile {
			display: none;
		}
	}

	.searchInput {
		height: 35px;
		padding: 0 10px;
		border: 0;
		border-radius: 5px;

		background-color: #fff;
		font-size: 1rem;
		font-weight: 100;
	}
}